.header {
    grid-area: h;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 60px;
}

.loginBlock {
    margin-right: 10px;
}

.loginBlock div a {
    background-color: deepskyblue;
    padding: 6px 12px;
    border-radius: 10px;
    color: #111;
    transition: all 0.3s ease;
}

.loginBlock div a:hover {
    background-color: #4298ee;
}
.loginBlock div p{
    padding: 6px 12px;

}
.loginBlock div button{
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.loginBlock div {
    display: flex;
    align-items: center;
}